/src/myAgents/handson4NB/nbproject/private/
/src/myAgents/handson4NB/build/
/src/myAgents/handson4NB/dist/
/src/myAgents/JRI/nbproject/private/
/src/myAgents/handson5NB/build/
/src/myAgents/handson5NB/dist/
/src/myAgents/project2NB/dist/